# ignore .history directory that is created by vscode extension
/.history
/.venv
/poetry.lock
/sample/*
!/sample/demo*.gif
!/sample/sample*.txt
!/sample/table_of_contents*.txt
/scr/*
/**/__pycache__
/**/.pytest_cache
!/scr/Cleaner.py
!/scr/Extractor.py
!/scr/Page_Corrector.py
!/scr/Merger.py
!/scr/Interpreter.py
!/scr/Filtering_Prompt.py
!/scr/Input.py
!/scr/Filter_Lines.py
!/scr/Text_Line.py
!/scr/Text_Lines.py
!/scr/Type_Alias.py
!/scr/tidy-toc.py
!/scr/main.py