# ignore .history directory that is created by vscode extension
/.history
/.venv
/poetry.lock
/sample/*
!/sample/demo.gif
!/sample/table_of_contents*.txt
/scr/*
/**/__pycache__
/**/.pytest_cache
!/scr/Cleaner.py
!/scr/collect_zip.py
!/scr/Extractor.py
!/scr/Interpreter.py
!/scr/Prompt.py
!/scr/Selector.py
!/scr/Text_Line.py
!/scr/Type_Alias.py
!/scr/tidy-toc.py
!/scr/main.py