# ignore .history directory that is created by vscode extension
/.history
/.venv
/sample
/scr/*
/
/**/__pycache__
!/scr/Cleaner.py
!/scr/collect_zip.py
!/scr/Extractor.py
!/scr/Inputter.py
!/scr/Selector.py
!/scr/Text_Line.py
!/scr/Type_Alias.py
!/tests/inputter/